.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 30px;
}

.title {
    padding: 0 30px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.image {
    border-radius: 15px;
}

.body {
    padding: 25px 5px 0 5px;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px 30px;
    margin: 0 auto;
    padding: 15px 0 30px 0;
}

@media only screen and (max-width: 1023px) {
    .testimonials {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .title {
        text-align: center;
    }

    .testimonials {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        padding: 0 100px;
    }
}
