.component {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBarItem:first-child {
    border: none;
}

.navBarItem {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #515e6d;
}

.navUl {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.navUl li a {
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}

.navBarItem:hover {
    color: hotpink;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 20px;
}

.hamburger:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    .component {
        /* display: flex; */
        flex-direction: column;
    }
    .navUl {
        display: none;
        flex-direction: column;
        width: 100%;
        border: 0;
    }

    .navUl.show {
        display: flex;
    }

    .navBarItem {
        border: none;
    }

    .hamburger {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .btn {
        width: 100%;
    }

    .navUl li a {
        padding: 10px;
    }
}
